.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  color: var(--white);
}

.image {
  width: 80px;
  height: 80px;
  opacity: 0.9;
}

.tempText {
  font-size: 24px;
  font-weight: bold;
}

.description {
  font-size: 14px;
  font-weight: bold;
}